@media screen and (min-width: 1200px) {
  .container {
    /* max-width: 1158px; */
    max-width: 1158px;
  }

  .header-nav-wrap {
    display: flex;
    align-items: center;
    gap: 322px;
  }

  .header-address-list {
    flex-direction: row;
  }

  .header-address-item:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
  }

  /* ---HERO  section--- */

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/bg-heroes.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background/hero-bg-desktop-x2.jpg);
    }
  }

  .team {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .team-list {
    display: flex;
    width: 100%;
  }

  .team-item {
    margin-bottom: 0;
  }

  .team-item:not(:last-child) {
    margin-right: 24px;
    margin-bottom: 0;
  }

  /* ---WORKS section--- */

  .work {
    display: block;
    background-color: var(--withe-text);
    padding-bottom: 120px;
  }

  .work-list {
    display: flex;
    text-align: center;
    padding: 0;
    margin: 0;
    gap: var(--standart-gap);
  }

  /* ---/WORKS section--- */

  /* ---description section---  */
  .description {
    padding: 120px 0;
  }

  /* ---description section---  */
  .description-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: var(--team-bg-color);
  }

  .decoration-subtitle {
    text-align: left;
  }

  /* .description-item {
    display: flex;
  } */

  .description-item {
    width: 264px;
  }

  .description-item:nth-child(2n - 1) {
    margin-right: 0px;
  }

  .description-list {
    display: flex;
  }

  /* ---customers section--- */

  .customers-item {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 0;
  }

  .customers {
    padding: 125px 0;
  }

  .customers-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: var(--standart-gap);
  }

  /* ---/customers section--- */

  /* ----------footer -----------*/
  .footer {
    padding: 0;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer .container {
    display: flex;
    align-items: baseline;
    width: 100%;
    flex-direction: row;
  }

  /* .footer-text {
    text-align: center;
  } */
  .footer-descr {
    margin-right: 120px;
  }

  .footer-descr {
    margin-right: 120px;
    margin-bottom: 0;
    text-align: left;
  }

  ..footer-subscribe-form {
    margin-left: 0;
  }
}
