@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
  }

  .description-block {
    display: none;
  }

  .decoration-subtitle {
    text-align: center;
  }

  .team-item {
    margin: 0;
  }
  .modal-label {
    font-size: 12px;
  }

  .modal-title {
    font-size: 16px;
  }

  /* ---customers section--- */

  /* .customers-item:nth-last-child(3n + 3) {
    margin-right: 0px;
  } */

  /* ---/customers section--- */
}
