@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .team-item {
    display: inline-block;
  }

  .team-item:nth-child(2n + 1) {
    margin-right: 26px;
  }

  .team-list {
    text-align: center;
  }
  /* 
  .team-item:not(:last-child) {
    margin-bottom: 0;
  } */

  .team-item {
    margin-bottom: 64px;
  }

  .team-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  /* ----description  section--- */
  .description-item {
    display: inline-block;
    width: 355px;
  }

  .description-item:nth-child(2n - 1) {
    margin-right: 24px;
  }

  .description-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  /* .description-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  } */
}
