@media screen and (min-width: 768px) {
  .header {
    padding: 0;
  }

  .container {
    max-width: 768px;
  }

  .header-nav-wrap {
    display: flex;
    gap: 121px;
    align-items: center;
  }

  .header-nav-paddings {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header-address-list {
    flex-direction: column;
  }

  .header-navigation {
    display: flex;
    margin: 0;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.04em;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-item {
    margin-bottom: 0;
  }

  .header-logo {
    margin-right: 120px;
  }

  .header-address-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .header-nav-wrap .team-social-list {
    display: none;
  }

  /* ---HERO  section--- */

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/hero-bg-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background/hero-bg-tablet-x2.jpg);
    }
  }

  .hero-title {
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;

    color: var(--withe-text);
    font-weight: 700;
    line-height: 1;
    font-size: 56px;
    letter-spacing: 0.02em;
  }

  /* ---HERO  section--- */

  .team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    text-align: center;
    flex-direction: row;
    justify-content: center;
  }

  .team-item:nth-child(2n + 1) {
    margin-bottom: 0;
  }

  .team-item {
    margin-bottom: 0;
  }

  /* decoration */
  .decoration-subtitle {
    text-align-last: left;
  }

  /* ----description  section--- */
  .description-item {
    display: inline-block;
    width: 355px;
  }

  .description-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  .description-item {
    margin-bottom: 0;
  }

  .description-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  /* ---/customers section--- */

  /* ---/customers section--- */

  /* -----BURGER ------*/

  .mobile-menu-open {
    display: none;
  }

  .header-btn-mobile-close {
    display: none;
  }

  .header-link.active::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--btn-hover-color);
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .team-social-list {
    padding: 0;
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  /* ----------footer -----------*/
  .footer {
    background-color: var(--title-text-color);
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer-descr {
    margin-right: 24px;
    margin-bottom: 72px;
  }

  .footer-subscribe-form {
    margin-left: 0;
  }

  .footer .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 552px;
  }

  .footer-social {
    display: inline-block;
  }

  .footer-form button {
    margin: 0;
  }

  .customers-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  .customers-item:nth-child(3n) {
    margin-right: 0px;
  }

  .customers > .container {
    padding-left: 108px;
    padding-right: 108px;
  }

  .customers-list {
    column-gap: 24px;
  }
}

/* @media scre  */
